.blog__header {
  background-image: url(.././assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.blog__title {
  font-size: 50px;
  text-align: center;
  margin-top: 125px;
}
