$blue: #86e0f9;
$green: #0f614e;
$dark: #0c1423;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Lato&display=swap");

$primary: "Barlow", sans-serif;
$secondary: "Lato", sans-serif;
